* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: 100vw;
    background-color: gainsboro;
}

.navbar-brand {
    margin-left: 16px;
}

span a {
    padding: 8px 0px;
    margin-right: 40px;
}

footer {
    position: absolute;
    bottom: 100;
    width: 100vw;
}

footer section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}

.text-footer span {
    align-self: flex-end;
}

@media screen and (max-width: 575px) {
    #section-footer {
        display: flex;
        flex-direction: column;
    }

    .text-footer {
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    .text-footer ul {
        padding: 15px;
    }
}