* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: 100vw;
    background-color: #030E4F;
}

.navbar-nav .nav-link.active {
    color: #F49F1C;
}

.navbar-text a {
    color: #F49F1C;
}

.nav-link {
    color: #F49F1C;
}

.navbar-brand {
    margin-left: 16px;
}

span a {
    padding: 8px 0px;
    margin-right: 40px;
}

footer {
    position: absolute;
    bottom: 100;
    width: 100vw;
}

li {
    color: #F49F1C;
}

footer section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #030E4F;
}

.text-footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}

.p-4 {
    background-color: #030E4F;
}

.p-3 {
    border-top: 2px solid #F49F1C;
}

#footer-link {
    color: #F49F1C;
    text-decoration: none;
}

.text-footer span {
    align-self: flex-end;
}

@media screen and (max-width: 575px) {
    #section-footer {
        display: flex;
        flex-direction: column;
    }

    .text-footer {
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    .text-footer ul {
        padding: 15px;
    }
}

.navbar-text a:hover,
.navbar-text a:focus {
    color: #F49F1C;
}

.nav-link:hover,
.nav-link:focus {
    color: #F49F1C;

}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #F49F1C;
    color: #030E4F;
}