* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    position: fixed;
    width: 100vw;
    background-color: gainsboro;
}

span a {
    padding: 8px 0px;
    margin-right: 40px;
}

footer {
    position: absolute;
    bottom: 100;
    width: 100vw;
}

footer section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}