* {
    margin: 0;
    padding: 0;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #030E4F;
}

.tela-login {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 35vw;
    height: auto;
    box-shadow: 0px 7px 15px 1px #00000073;
    border-radius: 10px;
    background-color: #F49F1C;
}

.form-control {
    background-color: #F49F1C;
}

#input-email{
    background-color: #F49F1C;
    color: #030E4F;
    border-color: #030E4F;
}

#input-senha{
    background-color: #F49F1C;
    border-color: #030E4F;
}

#btn-login{
    background-color: #030E4F;
    color: #F49F1C;
    border: none;
}

.tela-login h1 {
    margin-top: 35px;
    margin-bottom: 30px;
}

.tela-login a{
    color: #030E4F;
}

.tela-login span {
    margin-top: 10px;
    align-self: flex-start;
    margin-left: 34px;
    margin-bottom: 10px;
    color: #030E4F;
}

.tela-login div input {
    border: none;
    border-left: 1px solid #00000060;
    border-radius: 0px;
}

.tela-login div input::placeholder {
    font-size: 13px;
}

.ipt-email {
    width: 90%;
}

.ipt-senha {
    width: 90%;
}

#btn-login {
    margin-top: 30px;
    width: 90%;

}

@media (max-width: 768px) {
    .tela-login {
        width: 90%;
    }
}