* {
    margin: 0;
    padding: 0;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tela-login hr {
    width: 90%;
    margin-top: -10px;
    color: #030E4F;
}

.tela-login {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 35vw;
    height: auto;
    box-shadow: 0px 7px 15px 1px #00000073;
    border-radius: 10px;
}

#input-email {
    color: #030E4F;
    border-color: #030E4F;
}

#btn-login {
    margin-top: 30px;
    width: 90%;
    background-color: #030E4F;
    color: #F49F1C;
    border: none;
}

.tela-login h1 {
    padding-right: 75px;
    color: #F49F1C;
    display: flex;
    align-self: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.tela-login hr {
    margin-bottom: 30px;
}

.tela-login a {
    font-size: 18px;
    color: #f49f1c;
    text-decoration: none;
}

.tela-login label {
    font-size: 18px;
    padding-top: 12px;
    color: #030E4F;
}

.tela-login span {
    font-size: 18px;
    margin-top: 10px;
    align-self: flex-start;
    margin-left: 34px;
    margin-bottom: 10px;
    color: #030E4F;
}

.tela-login div input {    
    border-radius: 10px;
    border: solid 1px #f49f1c;
}
#input-email{
    border-radius: 10px;
    border: solid 1px #f49f1c;
}

.tela-login div input::placeholder {
    font-size: 13px;
}

.ipt-email {
    width: 90%;
}

.ipt-senha {
    width: 90%;
}

#lb-checkbox {
    margin-top: 10px;
    font-size: 15px;
    color: #030E4F;
}



#botao-home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 55px;
    border-radius: 10px;
    background-color: #F49F1C;
    border: none;
    margin-left: 35px;
    padding: 5px;
}

#botao-home:hover {
    border: 2px solid #030E4F;
}

.btn-primary a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

#botao-home i {
    font-size: 25px;
}

#botao-voltar {
    width: 100%;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0px;
}

@media (max-width: 768px) {
    .tela-login {
        width: 90%;
    }
}