main nav {
    margin-left: 50px;
    display: flex;
    align-self: flex-start;
}

nav ol a {
    text-decoration: none;
    color: #030E4F;
    padding: 5px;
}

nav ol a:hover {
    background-color: #f49e1ca4;
    border-radius: 3px;
}

main {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    width: 70%;
    border: none;
}

.card-title {
    margin-top: 15px;
    text-align: center;
    font-size: 25px;
}

.card-empresa {
    margin: 2%;
    text-align: center;
}

.col-md-8 {
    padding: 10px;
    border: 2px solid #030E4F
}

.col-md-7 {
    padding-top: 15px;
}

.col-md-4 {
    border: 2px solid #030E4F;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.col-md-4 img {
    width: 90%;
}

.form-label {
    padding-top: 20px;
}

.btn-primary-1 {
    background-color: #030E4F;
    color: #F49F1C;
    width: 100%;
    height: 50px;
    margin-top: 10px;
}

.btn-primary-1:hover {
    background-color: #030E4F;
    color: #F49F1C;
}

.btn-primary-1:focus {
    background-color: #030E4F;
    color: #F49F1C;
}

textarea {
    resize: none;
}

label {
    font-size: 20px;
    padding-bottom: 10px;
}

main nav {
    margin-left: 50px;
    display: flex;
    align-self: flex-start;
}

nav ol a {
    text-decoration: none;
    color: #030E4F;
    padding: 5px;
}

nav ol a:hover {
    background-color: #f49e1ca4;
    border-radius: 3px;
}

main {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.col-md-8 div input {
    border-radius: 10px;
    border: solid 1px #f49f1c;
}

.col-md-8 div input::placeholder {
    font-size: 13px;
}

.col-md-8 div label {
    font-size: 18px;
    padding-top: 12px;
    color: #030E4F;
    margin-bottom: 10px;
}

.mb-3 textarea {
    border: solid 1px #F49F1C;
}

@media screen and (max-width: 575px) {
    .card {
        width: 90%;
    }

    .col-md-4 {
        width: 100%;
    }
}