body {
    height: 100vh;
    overflow-x: hidden;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0px 0px;
}


main h3 {
    align-self: flex-start;
    margin-left: 265px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#secao-banner {
    margin: 0;
    margin-top: 100px;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#img-banner {
    margin: 0;
    padding: 0;
    width: 90%;
    height: 500px;
    border-radius: 3px;
}

#secao-banner h1 {
    position: absolute;
    align-self: center;
    color: rgb(0, 0, 0);
    font-size: 50px;
    display: flex;
    justify-content: center;
    width: 90%;
    text-align: center;
}

#secao-banner a {
    position: absolute;
    margin: 50px 0px;
}

.container {
    position: relative;
    max-width: 72%;
    margin: 0 auto;
}

.btn-primary {
    border: #030E4F;
    color: #030E4F;
    background-color: #F49F1C;
}

.galeria-wrapper {
    overflow-x: hidden;
}

.galeria-wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.galeria-wrapper::-webkit-scrollbar {
    display: none;
}

.galeria {
    display: flex;
    flex-flow: row nowrap;
    gap: 30px;
}

.arrow-left,
.arrow-right {
    position: absolute;
    margin-top: 170px;
    top: 0;
    left: 0;
    right: auto;
    bottom: 1;
    cursor: pointer;
    background: transparent;
    border: none;
}

.arrow-right {
    position: absolute;
    margin-top: 150px;
    top: 0;
    left: auto;
    right: 0;
    bottom: 1;
}

.arrow-left i,
.arrow-right i {
    font-size: 25px;
}

.item {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    height: 400px;
    flex-shrink: 0;
    padding: 15px;
}

.item img {
    width: 100%;
    height: 230px;
    margin-bottom: 10px;
}

.galeria-wrapper2 {
    overflow-x: auto;

}

.galeria-wrapper2 {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.galeria-wrapper2::-webkit-scrollbar {
    display: none;
}

.galeria2 {
    display: flex;
    flex-flow: row nowrap;
    gap: 30px;
}

.arrow-left2,
.arrow-right2 {
    position: absolute;
    margin-top: 170px;
    top: 0;
    left: 0;
    right: auto;
    bottom: 1;
    cursor: pointer;
    background: transparent;
    border: none;
}

.arrow-right2 {
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    bottom: 1;
}

.arrow-left2 i,
.arrow-right2 i {
    font-size: 25px;
}

.item2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 400px;
    flex-shrink: 0;
    padding: 15px;
}

.item2 img {
    margin-bottom: 10px;
    width: 100%;
    height: 230px;
}

.galeria-wrapper3 {
    overflow-x: auto;

}

.galeria-wrapper3 {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.galeria-wrapper3::-webkit-scrollbar {
    display: none;
}

.galeria3 {
    display: flex;
    flex-flow: row nowrap;
    gap: 30px;
}

.arrow-left3,
.arrow-right3 {
    position: absolute;
    margin-top: 170px;
    top: 0;
    left: 0;
    right: auto;
    bottom: 1;
    cursor: pointer;
    background: transparent;
    border: none;
}

.arrow-right3 {
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    bottom: 1;
}

.arrow-left3 i,
.arrow-right3 i {
    font-size: 25px;
}

.item3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 400px;
    flex-shrink: 0;
    padding: 15px;
}

.item3 img {
    margin-bottom: 10px;
    width: 100%;
    height: 230px;
}

#scrollButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    width: 40px;
    height: 40px;
    background-color: #F49F1C;
    color: #030E4F;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: opacity 0.3s;
}

#img-banner {
    background-image: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.desconto {
    background-color: #030E4F;
    color: #F49F1C;
    padding: 0px 7px;
    margin-top: 5px;
}

.stars i {
    color: #F49F1C;
}

@media screen and (max-width: 575px) {
    main {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    main h3 {
        margin: 0;
        align-self: center;
    }
}