    body {
        height: 100vh;
    }

    main {
        margin-top: 70px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-finalizar-compra {
        display: flex;
        width: 60%;
        height: 600px;
        border: 1px solid #030E4F;
        margin: 0 auto;
    }

    .info-finalizar-compra {
        width: 40%;
        border-right: 1px solid #030E4F;
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .info-finalizar-compra h1 {
        font-size: 25px;
    }

    .mb-3 {
        width: 100%;
    }

    .info-finalizar-compra img {
        width: 90%;
    }

    .produtos-finalizar-compras {
        width: 60%;
        padding: 0px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .lista-produtos {
        height: 80%;
        width: 100%;
        margin-bottom: 20px;
        overflow: auto;
        padding: 5px;
    }

    .lista-produtos-card {
        padding: 10px;
        border: 1px solid #030E4F;
        margin-bottom: 10px;
    }

    .produtos-finalizar-compras button {
        border: 2px solid #F49F1C;
        background-color: transparent;
        color: #F49F1C;
        padding: 10px;
        border-radius: 5px;
    }

    .produtos-finalizar-compras button:hover {
        background-color: #030E4F;
        transition: all 0.5s ease;
    }

    .topo-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .topo-card button {
        width: 10%;
        padding: 7px 0px;
    }

    .buttons span {
        padding: 10px 10px;
    }

    @media screen and (max-width: 950px) {

        .container-finalizar-compra {
            width: 90%;
        }
    }

    @media screen and (max-width: 575px) {
        .container-finalizar-compra {
            flex-direction: column;
            height: 100%;
        }

        .info-finalizar-compra {
            border: none;
            width: 100%;
        }

        .produtos-finalizar-compras {
            width: 100%;
        }

        .topo-card button {
            width: 15%;
        }

        .buttons {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
    }