main nav {
    margin-left: 50px;
    display: flex;
    align-self: flex-start;
}

nav ol a {
    text-decoration: none;
    color: #030E4F;
    padding: 5px;
}

nav ol a:hover {
    background-color: #f49e1ca4;
    border-radius: 3px;
}

main {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

main h2 {
    margin-left: 50px;
}

.container-filtros {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn-outline-primary {
    border-radius: 0px;
}

#accordionFlushExample {
    width: 15%;
}

.btn-group {
    display: flex;
    gap: 20px;
    width: 70%;
    align-items: end;
}

@media screen and (max-width: 575px) {
    .container-filtros {
        display: flex;
        flex-direction: column;
    }

    .btn-group {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .btn-outline-primary {
        width: 100%;
    }

    #accordionFlushExample {
        width: 100%;
    }
}